{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Isaias 0rt0n - Simple Portfolio</title>
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    


    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-success" id="profile-box">
                    <img id="profile-photo" src="{% static 'img/perfil.jpeg' %}" alt="">
                    <hr>
                    <h4>Hi, I'm Isaias 0rt0n</h4>
                    <p>Entusiasta em segurança da informação, developer Django Framework.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-success">
                    <h4>ABOUT ME</h4>
                    <hr>
                    <p>
                        Graduando em Engenharia de Computação, aprendi na faculdade
                        os conceitos bases da computação. Entusiasta em segurança da informação,
                        onde pretendo atuar após formado. 
                    </p>
                    <p>
                        Atualmente venho estudando sobre desenvolvimento WEB com python e Django, 
                        desenvolvimento seguro de aplicações web, OWASP top ten, 
                        Cloud Computing e Web Hacking.
                    </p>
                    <p>
                        Nas horas vagas pratico CTF na plataforma Tryhackme, uma plataforma
                        que ensina segurança da informação por meio de laboratórios que 
                        simulam o mundo real.<br>
                        <a class="lin" href="https://tryhackme.com/p/orton18">Perfil</a>
                    </p>

                    <ul class="social-links">
                        <a href="https://api.whatsapp.com/send?phone=5588994052485"><i class="text-success bi bi-whatsapp"></i></a>
                        <a href="https://t.me/orton18"><i class="bi bi-telegram"></i></a>
                        <a href="https://www.linkedin.com/in/isaias-do-carmo/"><i class="bi bi-linkedin"></i></a>
                        <a href="https://www.instagram.com/isaiasorton/"><i class="text-warning bi bi-instagram"></i></a>
                        <a href="https://github.com/isaias0rt0n"><i class="text-secondary bi bi-github"></i></a>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100 border-success">
                    <h5>O que Eu Sei</h5>
                    <hr>
                    <p>
                        Python, Django, HMTL5, CSS3, JavaScript, React,
                        APIs, AWS, C, Bootstrap, Chakra-UI, MySql, Docker.
                    </p>
                    <p>PS: Estudando segurança digital, LGPD e clean code.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100 border-success">
                    <h5>Obejetivo</h5>
                    <hr>
                    <p>Busco desafios profissionais em que eu possa aplicar os 
                        conhecimentos que obtive em experiências anteriores. 
                        Desejo aprender com os problemasreais do mercado de 
                        trabalho e poder agregar para o crescimento da empresa.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body border-success">
                    <h5>Como eu Aprendo</h5>
                    <hr>
                    <p>Gosto de por a mão na massa, sou uma pessoa mais Prática
                        que gosta de entender como as coisas funcionam. Documentação
                        é um dos meios que uso para aprendizagem, mas gosto de ver Cursos
                        e reproduzir o que aprendi.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100 border-success">
                    <h5>Cursos realizados</h5>
                    <hr>
                    <ul class="courses">
                        <li><a href="https://www.treinaweb.com.br/curso/django-fundamentos">Django - Fundamentos</a></li>
                        <li><a href="https://digitalinnovation.one/bootcamps/become-remote">Become Remote</a></li>
                        <li><a href="https://esecurity.com.br/cursos/formacao-analista-seguranca-da-informacao/">Analista de Segurança da Informação JR</a></li>
                        <li><a href="https://solyd.com.br/treinamentos/python-profissional-na-pratica/">Python Profissional na Prática</a></li>
                        <li><a href="https://github.com/rocketseat-education/semana-omnistack-11">Semana OmniStack 11</a></li>
                        <li><a href="https://www.treinaweb.com.br/curso/rede-de-computadores-protocolo-tcp-ip">Rede de Computadores - Protocolo TCP/IP</a></li>
                        <li><a href="https://www.treinaweb.com.br/curso/linux-fundamentos-para-desenvolvedores">Linux - Fundamentos para desenvolvedores</a></li>
                        <li><a href="https://www.treinaweb.com.br/curso/introducao-e-projeto-de-banco-de-dados">Projeto de Banco de dados - Fundamentos</a></li>
                        <li><a href="https://www.treinaweb.com.br/curso/seguranca-da-informacao-owasp-fundamentos">Segurança da Informação - OWASP Fundamentos</a></li>
                        <li><a href="https://www.treinaweb.com.br/curso/lgpd-conceitos-e-recomendacoes-para-profissionais-de-tecnologia">LGPD - Conceitos e recomendações para profissionais de tecnologia</a></li>
                        <li><a href="https://www.treinaweb.com.br/curso/introducao-ao-http">HTTP - Fundamentos</a></li>
                        <li><a href="https://www.treinaweb.com.br/curso/django-templates">Django - Templates</a></li>
                        <li><a href="https://www.treinaweb.com.br/projeto-pratico/django-sistema-de-gerenciamento-de-clinicas-pet">Django - Sistema de gerenciamento de clínicas PET</a></li>
                        <li><a href="https://www.treinaweb.com.br/curso/django-desenvolvimento-de-apis-rest">Django - Desenvolvimento de APIs REST</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>